
.featuredProducts {
    margin: 30px 100px;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;

        h1 {
            flex: 2;
            text-transform: capitalize;
        }

        p {
            flex: 3;
            color: gray;
        }
    }

    .botton {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}