.featuredProducts {
    margin: 30px 100px;
    margin-left: 6px;

    @media (max-width: 768px) {
        margin: 30px 10px;

        // Outras regras de estilo para telas menores
        .image {
            width: 100%;
            max-width: 100%; // Definir largura máxima igual à largura da tela
            height: auto; // Manter a proporção da imagem
            overflow: hidden;
            position: relative;
        }


    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        margin-left: 4px;

        h1 {
            flex: 1;
            margin-left: 6px;
            text-transform: capitalize;
        }

        p {
            flex: 3;
            color: gray;
        }
    }

    .botton {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}