.featuredProducts {
  margin: 120px 80px;
  margin-left: 6px;
  margin-top: -30px;

  @media (max-width: 768px) {

    //height: 2000px;
    height: 100%;

    // margin: 40px 40px; /* Reduzir a margem para móvel */
    //margin-left: 0; /* Remover a margem à esquerda para centralizar na tela */

    .top {
      display: flex;
      margin-top: -140px;
      margin-bottom: 56px;
      margin-right: 0;
      /* Remover a margem à direita para centralizar na tela */
      margin-left: 0;
      /* Remover a margem à esquerda para centralizar na tela */
      flex-direction: column;
      align-items: center;
      text-align: center;
      // width: 50%; /* Fazer a largura ocupar a largura total da tela */

      h1 {
        text-transform: capitalize;
        margin-top: 60px;
        margin-left: 0;
        /* Remover a margem à esquerda para centralizar na tela */
      }

     
    }

    .botton {
      display: flex;
      margin-right: 0;
      /* Remover a margem à direita para centralizar na tela */
      justify-content: center;
      gap: 50px;
    }
  }

  .top {
    display: flex;
    margin-top: -140px;
    margin-bottom: 56px;
    margin-right: 63px;
    margin-left: 125px;
    flex-direction: column; // Alterado para exibir os elementos em coluna
    align-items: center; // Centralizar os elementos horizontalmente
    text-align: center; // Centralizar o texto

    @media (max-width: 768px) {

      display: flex;
      flex-direction: column; // Alterado para exibir os elementos em coluna
      align-items: center; // Centralizar os elementos horizontalmente
      text-align: center; // Centralizar o texto
      // width: 500px;
      margin-left: 500px;
      margin-right: 500px;
    }

    h1 {
      text-transform: capitalize;
      margin-top: 60px; // Adicione algum espaço superior para o h1
      margin-left: -15px;

      @media (max-width: 768px) {
        margin-left: -80px;

      }
    }

    p {
      color: gray;
      padding: 10px; // Reduza o preenchimento para dar mais espaço ao texto
      margin: 0;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      margin-top: 44px;

      @media (max-width: 768px) {
        margin-left: -80px;

      }
    }
  }

  .botton {
    display: flex;
    margin-right: -110px;

    justify-content: center;
    gap: 50px;

    // @media (max-width: 768px) {

    // .botton {
    //height: 200px;
    // margin-right: -400px;
    // margin-left: -800px;
    // }
    // }
  }
}