.featuredProducts {
    margin: 30px 100px;
    margin-left: 16px;

    @media (max-width: 768px) {
        //margin: 30px 10px;
        margin-left: 50px;

        // Outras regras de estilo para telas menores
        .image {
            width: 100%;
            max-width: 100%; // Definir largura máxima igual à largura da tela
            height: auto; // Manter a proporção da imagem
            overflow: hidden;
            position: relative;
        }
    }

    .top {
        display: flex;
        // width: 1000px;
        //margin-left: 55px;
        flex-direction: column; // Alterado para exibir os elementos em coluna
        align-items: center; // Centralizar os elementos horizontalmente
        text-align: center; // Centralizar o texto

        @media (max-width: 768px) {

            display: flex;
            // width: 1000px;
            //margin-left: 55px;
            flex-direction: column; // Alterado para exibir os elementos em coluna
            align-items: center; // Centralizar os elementos horizontalmente
            text-align: center; // Centralizar o texto


            width: 500px;
            margin-left: 130px;

        }

        h1 {
            text-transform: capitalize;
            margin-top: 20px; // Adicione algum espaço superior para o h1
            margin-left: -35px;

            @media (max-width: 768px) {
                margin-left: -80px;

            }
        }

        p {
            color: gray;
            padding: 10px; // Reduza o preenchimento para dar mais espaço ao texto
            margin: 0;
            font-size: 18px;
            font-weight: 300;
            text-align: center;

        }
    }

    .botton {
        display: flex;
        margin-left: 50px;
        justify-content: center;
        gap: 50px;

        @media (max-width: 768px) {
            margin-left: -210px;
        }
    }
}