
.categories {
    display: flex;
    height: 80vh;
    gap: 10px;
    margin: 10px;
    margin-top: -80px;
    margin-left: 83px;

    @media (max-width: 768px) {
        width: 790px;
    }

    .col {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;

        /* Adicione regras de estilo para dispositivos móveis */
        @media (max-width: 768px) {
            flex: none;
            /* Remova a flexibilidade para que a coluna não ocupe toda a largura */
            max-width: 30%;
            /* Defina a largura máxima para a largura da tela */
        }
    }

    .col-l {
        flex: 4;
    }

    .row {
        flex: 1;
        display: flex;
        gap: 13px;
        position: relative;
        overflow: hidden;
        margin-right: 64px;
      

        button {
            position: absolute;
            min-width: 80px;
            width: fit-content;
            height: 50px;
            padding: 10px;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            cursor: pointer;
            border: none;
            background-color: white;
            text-transform: uppercase;
            font-weight: 500;

        }

        .button-category {
            @media (max-width:768px) {
                min-width: 80px;
                width: fit-content;
                height: 5px;
                margin-left: -12px;
            }
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

        /* Adicione regras de estilo para dispositivos móveis */
        @media (max-width: 768px) {
            .img-category {
                padding: 106px;
            }

        }
    }
}