.card {
    width: 90px;
    display: flex;
    margin-left: 6px;
    gap: 5px;
    margin-bottom: 5px;

    .product {
        display: flex;
        flex-direction: column; /* Altere para exibir o nome e o preço abaixo da imagem */
        margin-bottom: 1px; /* Ajuste o valor conforme necessário para controlar o espaço entre os produtos */
    }

    .image {
        width: 100%; /* Dividir o espaço ao meio para exibir duas imagens lado a lado */
        height: 100%;
        overflow: hidden;
        position: relative;

        .mainImg {
            width: 290px;
            height: 320PX;
            object-fit: cover;
        }

        span {
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: white;
            color: teal;
            padding: 3px 5px;
            z-index: 3;
            font-weight: 500;
            font-size: 12px;
        }
    }

    h2 {
        font-size: 16px;
        font-weight: 400;
        margin-top: -28px; /* Adicione um espaço entre a imagem e o nome */
    }

    .price {
        display: flex;
        gap: 20px;
        align-items: center; /* Alinhe o preço verticalmente com o nome */

        h3 {
            font-size: 18px;
            font-weight: 500;
            margin-top: -58px;

            &:first-child {
                color: gray;
                // text-decoration: line-through;
            }
        }
    }
}

@media (max-width: 768px) {
    .card {
        flex-direction: column;
        width: 200px; // Defina a largura total para se ajustar ao dispositivo
        margin-left: 20px;

        .image {
            width: 100%; // Usar largura total para uma única coluna no dispositivo
            height: 250px; // Reduza a altura da imagem para se ajustar ao dispositivo

            .mainImg {
                width: 100%; // Ajuste a largura da imagem principal para ocupar toda a largura da imagem pai
            }
        }
    }
}
