.contact {
  margin-bottom: -35px;
  width: 100%;
  margin-left: 10px;
  background-color: rgb(107, 201, 244);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    margin-left: -100px; // Pode ajustar conforme necessário
    margin-bottom: -15px; // Adiciona um ajuste fino para melhor posição
    width: calc(100% + 200px); // Ajusta a largura para ocupar mais espaço e centralizar
  }

}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;



  input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }

  button {
    padding: 10px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    border: none;
  }

  span {
    margin-right: auto;
    margin-right: 49px;
  }
}

.icons {
  display: flex;
  margin-left: 43px;
  justify-content: flex-end;
  /* Alinha os ícones à direita */

  .icon {
    margin-left: 10px;
  }
}