.contact {
  margin-bottom: -35px;
  margin-left: -367px;
  background-color: rgb(107, 201, 244);
  color: white;
  padding: 15px;
  display: flex;
  justify-content: center;

  @media (max-width:768) {
    //margin-left: -367px;
  }
}

.wrapper {
  display: flex;
  //ALTERAÇÃO NA MARGEM ESQUERDA DO WRAPPER CONTACT INFLUENCIA A POSIÇÃO DO NAVBAR
  margin-left: -100px;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 768) {
    display: flex;
   // margin: 34px;
    //ALTERAÇÃO NA MARGEM ESQUERDA DO WRAPPER CONTACT INFLUENCIA A POSIÇÃO DO NAVBAR
   // margin-left: -1200px;
    align-items: center;
    justify-content: space-between;
  }

  input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }

  button {
    padding: 10px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    border: none;
  }

  span {
    margin-right: auto;
    margin-right: 49px;
  }
}

.icons {
  display: flex;
  margin-left: 43px;
  justify-content: flex-end;
  /* Alinha os ícones à direita */

  .icon {
    margin-left: 10px;
  }
}