.navbar {
    height: 80px;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .center {
            font-size: 24px;
            letter-spacing: 2px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 18px;
        }

        .icons {
            display: flex;
            gap: 15px;
            color: #777;
            gap: 15px;
            cursor: pointer;

            .cartIcon {}


            .cartIcon span {
                position: absolute;
                /* Posição absoluta em relação ao elemento pai (.cartIcon) */
                top: -1px;
                /* Posiciona o número 6 pixels acima do ícone do carrinho */
                right: 16px;
                /* Posiciona o número 6 pixels à direita do ícone do carrinho */
                padding: 3px 5px;
                /* Adicione algum espaço entre o número e o fundo do cartão */
                border-radius: 50%;
                /* Tornar o número circular */
                background-color: #43cbcb;
                /* Cor de fundo do número */
                font-size: 10px;
                /* Tamanho de fonte do número */
                color: #ffffff;
                /* Cor do número */
            }
        }


    }
}