.navbar {
    position: fixed;
    height: 70px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    /* Adicione a cor de fundo desejada para o navbar */
    z-index: 100;
    /* Adicione um valor alto para garantir que o navbar fique acima do conteúdo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Opcional: Adicione uma sombra ao navbar */

    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item span {
            display: flex;
            align-items: center;
            font-size: 18px;
            margin-top: 5px;
        }

        .left {
            display: flex;
            margin-left: 90px;
            align-items: center;
            gap: 25px;
        }

        .center {
            font-size: 24px;
            letter-spacing: 2px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;


        }

        .icons {
            display: flex;
            margin-top: 4px;
            gap: 15px;
            color: #777;
            gap: 15px;
            cursor: pointer;

            .cartIcon span {
                position: absolute;
                /* Posição absoluta em relação ao elemento pai (.cartIcon) */
                top: 11px;
                /* Posiciona o número 6 pixels acima do ícone do carrinho */
                right: -25px;
                /* Posiciona o número 6 pixels à direita do ícone do carrinho */
                padding: 3px 5px;
                /* Adicione algum espaço entre o número e o fundo do cartão */
                border-radius: 50%;
                /* Tornar o número circular */
                background-color: #43cbcb;
                /* Cor de fundo do número */
                font-size: 10px;
                /* Tamanho de fonte do número */
                color: #ffffff;
                /* Cor do número */
            }
        }


        /* Regra de mídia para telas menores */
        /* Estilos para telas menores */
        @media (max-width: 768px) {
            .wrapper {
                padding: 10px;
            }

            .center {
                font-size: 20px;
                /* Ajuste o tamanho da fonte para telas menores */
            }

            .center-custom {
                display: none;
            }



            .navbar .center {
                order: 2;
                /* Reorganizar o centro para ser o primeiro elemento na ordem */
            }

            .left {
                width: 100%;
                margin-right: -25px;
               .item {
                margin: 1px;
               }
               .icone {
                margin-left: 3px;
              }
          
            }

        

         

            .icons {
                display: flex;
                margin-right: -25px;
                gap: 1px;
                color: #777;
                cursor: pointer;
                /* Reorganizar os ícones para serem o segundo elemento na ordem */
                order: 1;

                .cartIcon span {
                    position: absolute;
                    /* Posição absoluta em relação ao elemento pai (.cartIcon) */
                    top: -5px;
                    /* Posiciona o número 6 pixels acima do ícone do carrinho */
                    left: 20px;
                    /* Posiciona o número 6 pixels à direita do ícone do carrinho */
                    padding: 3px 5px;
                    /* Adicione algum espaço entre o número e o fundo do cartão */
                    border-radius: 50%;
                    /* Tornar o número circular */
                    background-color: #43cbcb;
                    /* Cor de fundo do número */
                    font-size: 10px;
                    /* Tamanho de fonte do número */
                    color: #ffffff;
                    /* Cor do número */
                }

            }

            .cartIcon {
                position: relative;
                margin-right: -50px;

            }

            .item {
                display: flex;
                margin: 1px;
                // align-items: center;
                margin-left: 90px;
                // margin-right: 200px;
                order: 3;

               
            }




        }



    }
}