.navbar {
    height: 80px;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }

        .center {
            font-size: 24px;
            letter-spacing: 2px;
        }

        .right {
            display: flex;
            align-items: center;
            gap: 25px;
            font-size: 18px;
        }

        .icons {
            display: flex;
            gap: 15px;
            color: #777;
            gap: 15px;
            cursor: pointer;
    
            .cartIcon {
                font-size: 12px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: #28acf3;
                color: #ffffff;
            }
    
            .cartIcon span {
                position: absolute; /* Posição absoluta em relação ao elemento pai (.cartIcon) */
                top: -6px; /* Posiciona o número 6 pixels acima do ícone do carrinho */
                right: 16px; /* Posiciona o número 6 pixels à direita do ícone do carrinho */
                padding: 3px 5px; /* Adicione algum espaço entre o número e o fundo do cartão */
                border-radius: 50%; /* Tornar o número circular */
                background-color: #cb4343; /* Cor de fundo do número */
                font-size: 10px; /* Tamanho de fonte do número */
                color: #28acf3; /* Cor do número */
            }
        }


    }
}